# @see https://github.com/opencivicdata/pupa/pull/221
# @see https://github.com/opencivicdata/pupa/pull/235
# @see https://github.com/opencivicdata/pupa/pull/228
-e git+git://github.com/patcon/pupa.git@228-add-eventagendaitem-classification#egg=pupa
-e git+git://github.com/opencivicdata/python-opencivicdata-divisions.git#egg=opencivicdata-divisions
# @see https://github.com/opencivicdata/python-opencivicdata-django/pull/57
-e git+git://github.com/opencivicdata/python-opencivicdata-django.git@900a8557b05b50a4919c9b43dce187b28a3415c9#egg=opencivicdata-django
-e git+git://github.com/sunlightlabs/waterfall#egg=waterfall
boto==2.33.0 # pupa unpinned
cssselect==0.9.1
csvkit==0.9.1
Django==1.9.3
lxml==3.3.5
psycopg2==2.5.3 # pupa unpinned
requests==2.6.0
six==1.8.0

# Validation
validictory==1.0.1
regex==2014.04.10

# Maintenance
invoke==0.11.1
Unidecode==0.04.14
